.section__container{
    max-width: 55em;
    margin-inline: auto;

    h1{
        margin-bottom: 2em;
    }

    h4,
    h5{
        margin-bottom: 4em;
    }

    h2{
        font-size: 1.2em;
        margin-block: 2em 1em;
    }

    .content{
        text-align: center;
    }

    p{
        font-size: .9em;
    }

    section{
        padding: 1em;
    }
}