<div class="section__container">
    <h1 style="text-transform: uppercase; padding: 1em;">Privacy Policy</h1>

    <div class="content">
        <h4>GENERAL</h4>
        <p style="padding: 1em;">
            Nam posuere sit amet dolor sed sodales. Aenean commodo mattis convallis. In pulvinar suscipit diam, eu feugiat leo mattis ut. Maecenas commodo nisl tempor pretium efficitur. Fusce sapien orci, porttitor a orci nec, pellentesque volutpat leo.
        </p>

        <section>
            <h2>PERSONAL INFORMATION WE COLLECT</h2>
            <p>
                Proin justo dui, pulvinar quis porttitor nec, posuere id est. Aenean tristique nisl vel ligula imperdiet, sed pretium purus venenatis. Nulla dignissim congue lorem eget tincidunt. In hac habitasse platea dictumst. Donec ac luctus mauris.
            </p>
            <br>
            <p>
                Vivamus pharetra aliquet arcu eget tempus. Vivamus nec velit metus. Morbi porttitor suscipit nisi viverra molestie. Curabitur facilisis euismod dolor, eu congue libero rhoncus non.
            </p>
            <br>
            <p>We collect Device Information using the following technologies:</p>
            <br>
            <ul>
                <li>“Cookies” are data files that are placed on your device or computer and often include an anonymous unique identifier. </li>
                <li>
                    “Log files” track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, 
                    referring/exit pages, and date/time stamps.
                </li>
                <li>“Web beacons,” “tags,” and “pixels” are electronic files used to record information about how you browse the Site.</li>
            </ul>
            <br>
            <p>
                Additionally when you make a purchase or attempt to make a purchase through the Site, we collect certain information from you, including your name, 
                billing address, shipping address, credit card or other payment details, email address, and phone number. 
                We refer to this information as “Order Information.”
            </p>
            <br>
            <p>When we talk about “Personal Information” in this Privacy Policy, we are talking both about Device Information and Order Information.</p>
        </section>

        <section>
            <h2>HOW DO WE USE YOUR PERSONAL INFORMATION?</h2>
            <p>
                We use the Order Information that we collect generally to fulfill any orders placed through the Site (including processing your payment information, 
                arranging for shipping, and providing you with invoices and/or order confirmations). Additionally, we use this Order Information to: Communicate with you;
                Screen our orders for potential risk or fraud; and When in line with the preferences you have shared with us, 
                provide you with information or advertising relating to our products or services.
            </p>
            <br>
            <p>
                We use the Device Information that we collect to help us screen for potential risk and fraud (in particular, your IP address), 
                and more generally to improve and optimize our Site (for example, by generating analytics about how our customers browse and interact with the Site, 
                and to assess the success of our marketing and advertising campaigns).
            </p>
        </section>

        <section>
            <h2>SHARING YOUR PERSONAL INFORMATION</h2>

            <p>
                We share your Personal Information with third parties to help us use your Personal Information, as described above. 
                We may also share your Personal Information to comply with applicable laws and regulations, to respond to a subpoena, 
                search warrant or other lawful request for information we receive, or to otherwise protect our rights.
            </p>
            <br>
            <p>
                As described above, we use your Personal Information to provide you with targeted advertisements or marketing 
                communications we believe may be of interest to you.
            </p>
            <br>
            <p>
                We may work with third-party advertising companies that collect and use information about your online activities across sites over time, 
                in order to deliver more relevant advertising when you are using the Afends Services and elsewhere on the Internet. 
                This practice is known as interest-based advertising. You may visit www.aboutads.
                info to learn more and to opt out of this type of advertising by companies participating in the Digital Advertising Alliance self-regulatory program. 
                We do not operate or control this site and are not responsible for the opt-out choices available there. 
                Note that electing to opt out will not stop advertising from appearing in your browser or applications. 
                It may make the ads you see less relevant to your interests. 
            </p>
        </section>

        <section>
            <h2>DATA RETENTION</h2>
            <p>
                When you place an order through the Site, we will maintain your Order Information for our records unless and until you ask us to delete this information.
            </p>
        </section>

        <section>
            <h2>CHANGES</h2>
            <p>We may update this privacy policy from time to time in order to reflect, for example, changes to our practices or for other operational, 
                legal or regulatory reasons.
            </p>
        </section>

        <section>
            <h2>INACCURACY DISCLAIMER</h2>
            <p>
                From time to time there may be information on afends.com that contains typographical errors, inaccuracies, 
                or omissions that may relate to product descriptions, pricing, and availability. We reserve the right to correct any errors, inaccuracies, 
                or omissions and to change or update information at any time without prior notice (including after you have submitted your order).
            </p>
        </section>

        <section>
            <h2>CONTACT US</h2>
            <p>
                For more information about our privacy practices, if you have questions, or if you would like to make a complaint, 
                please contact us by e-mail at <a href="mailto: clothery@gmail.com" style="display: inline-block;">clothery&#064;gmail.com</a> 
                or by mail using the address provided below:
            </p>
 
            <br>
            <p>Mail: Via Roma 11 Parma, PR</p>
        </section>
    </div>
</div>

