<footer id="footer">
    <div class="wrapper">
        <ul class="card">
            <h3 class="card__title">CUSTOMER CARE</h3>
            <li class="link">
                <a routerLink="/shipping">DELIVERY & SHIPPING</a>
            </li>
            <li class="link">
                <a routerLink="/returns">RETURNS</a>
            </li>
            <li class="link">
                <a routerLink="/faq">FAQ</a>
            </li>
        </ul>

        <ul class="card">
            <h3 class="card__title">INFO</h3>
            <li class="link">
                <a routerLink="/size-guide">SIZE GUIDE</a>
            </li>
            <li class="link">
                <a routerLink="/terms-conditions">TERMS & CONDITIONS</a>
            </li>
            <li class="link">
                <a routerLink="/privacy-policy">PRIVACY POLICY</a>
            </li>
        </ul>

        <ul class="card">
            <h3 class="card__title">CONNECT</h3>
            <li class="link">
                <a href="https://www.instagram.com" target="_blank">INSTAGRAM</a>
            </li>
            <li class="link">
                <a href="https://www.facebook.com" target="_blank">FACEBOOK</a>
            </li>
            <li class="link">
                <a href="https://www.youtube.com" target="_blank">YOUTUBE</a>
            </li>
            <li class="link">
                <a href="https://www.pinterest.com" target="_blank">PINTEREST</a>
            </li>
            <li class="link">
                <a href="https://www.tiktok.com" target="_blank">TIKTOK</a>
            </li>
        </ul>
    </div>

    <div class="footer__bottom">
        <a routerLink="/home" class="logo">Clothery</a>
        <p class="copyright">&copy;<span class="year"></span> Clothery. PARMA, ITALY. ALL RIGHTS RESERVED</p>
    </div>
</footer>