<div class="section__container">
    <h1 style="text-transform: uppercase; margin-block: 1em 2em; padding: 1em;">Frequently Asked Questions</h1>

    <div class="accordion accordion-1">
        <input type="checkbox" id="shipping_1" checked>
        <label for="shipping_1">SHIPPING TIMES DURING SALE PERIODS</label>
    
        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque quam est, non consectetur ante dictum eu. Nullam consectetur lacus non congue luctus. Nulla leo nisl, blandit nec aliquam ut, pharetra eget eros. Proin quis malesuada erat.                    <br>
                    Our warehouse will be working overtime to ship out an increased volume of orders during sale periods.
                    <br>
                    Nam lacinia suscipit nibh et lacinia. Vestibulum luctus tristique fringilla. Integer ut magna pulvinar, varius est vitae, ullamcorper risus. Nunc vitae malesuada augue. Aliquam malesuada sem non risus facilisis volutpat ut euismod libero.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-2">
        <input type="checkbox" id="shipping_2">
        <label for="shipping_2">SALE ITEM RETURNS</label>
    
        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    Nullam fringilla erat sed nibh feugiat volutpat. Morbi euismod ipsum lacinia enim egestas, ac aliquam arcu sagittis. Vivamus convallis, ante sit amet eleifend finibus, arcu lacus condimentum lectus, vitae rhoncus mi lorem ut turpis. 
                    <br>
                    All sale item returns must be lodged by emailing <a href="mailto: clothery@gmail.com" style="display: inline-block;">clothery&#064;gmail.com</a>. 
                    Unfortunately, we are unable to process sale returns via our online returns portal. <br>

                    Suspendisse mollis lacinia neque, ut consectetur nisi. Sed sodales, ante at aliquam porta, orci massa mattis libero, et pharetra nulla mauris sed neque. Fusce vestibulum cursus nulla, eu euismod leo iaculis vitae. Donec nec est nec tellus vehicula scelerisque sed sed lectus.
                    <br>

                    <span style="font-weight: bold;">PLEASE NOTE:</span> Donec venenatis ligula tincidunt nunc venenatis, non fringilla dui fringilla. Sed sit amet eleifend enim. Integer sit amet malesuada libero, vitae imperdiet nisi. Aliquam sit amet dapibus magna. Suspendisse pretium faucibus nunc sed maximus.
                </p>
            </div>
        </div>
    </div>
    
    <div class="accordion accordion-3">
        <input type="checkbox" id="shipping_3">
        <label for="shipping_3">DISCOUNT CODES DURING SALE PERIOD</label>

        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    Nam sagittis volutpat ultrices. Donec lobortis magna vitae justo suscipit, ac tempor ex ultrices. Sed sit amet justo non odio rutrum rhoncus venenatis ut est. Sed viverra lorem nec justo dictum pellentesque. Morbi a neque odio.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-4">
        <input type="checkbox" id="shipping_4">
        <label for="shipping_4">WHAT PAYMENT METHODS DO YOU ACCEPT?</label>

        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    We accept payment via Stripe.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-5">
        <input type="checkbox" id="shipping_5">
        <label for="shipping_5">CAN DISCOUNT CODES BE USED ON SALE PRODUCTS OR DURING PROMOTIONAL PERIODS?</label>

        <div class="accordion__content__container">
            <div class="content">
                <p>
                    Vivamus vel nisi sagittis, faucibus risus eget, tincidunt est.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-6">
        <input type="checkbox" id="shipping_6">
        <label for="shipping_6">CAN I APPLY MY FIRST ORDER DISCOUNT CODE AFTER MY ORDER IS PROCESSED?</label>

        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    Aenean eget erat nunc. Phasellus condimentum tincidunt dictum. Fusce malesuada, lectus id malesuada accumsan, ex odio lacinia ex, in pharetra libero erat non metus. Donec luctus pellentesque augue et auctor. Ut ultricies gravida eros, sed ornare augue mollis et. Vestibulum elementum finibus venenatis. Aliquam erat volutpat.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-7">
        <input type="checkbox" id="shipping_7">
        <label for="shipping_7">HOW DO I TRACK MY PACKAGE?</label>

        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    Vestibulum ac lobortis justo, sit amet egestas ipsum. Nunc finibus ultrices pretium. Morbi tellus turpis, sagittis ac tristique sit amet, tincidunt at tortor. Maecenas quis vestibulum nulla. Proin lorem turpis, tempor et aliquet commodo, mattis tincidunt nulla. Praesent ut ante pharetra, ultricies sem id, accumsan lacus. Integer enim dui, iaculis et ipsum varius, placerat semper nisi. Nunc vel risus aliquam, tincidunt quam ac, luctus enim. Etiam imperdiet neque vitae augue consequat blandit.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-8">
        <input type="checkbox" id="shipping_8">
        <label for="shipping_8">CAN I CHANGE/CANCEL MY ORDER?</label>

        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    Nam posuere sit amet dolor sed sodales. Aenean commodo mattis convallis. In pulvinar suscipit diam, eu feugiat leo mattis ut. Maecenas commodo nisl tempor pretium efficitur. Fusce sapien orci, porttitor a orci nec, pellentesque volutpat leo. Proin justo dui, pulvinar quis porttitor nec, posuere id est. Aenean tristique nisl vel ligula imperdiet, sed pretium purus venenatis.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-9">
        <input type="checkbox" id="shipping_9">
        <label for="shipping_9">HAVE YOU RECEIVED MY RETURN?</label>

        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis turpis rhoncus felis lacinia luctus a nec enim. Donec vulputate rutrum quam, eu efficitur metus malesuada at. Suspendisse eros ex, egestas sit amet tellus vel, hendrerit rhoncus diam. Suspendisse potenti. Phasellus eu ultricies nisi, vel aliquam arcu. Aliquam ultrices est sed felis dictum, in bibendum ipsum rhoncus. Donec volutpat risus nec nisl sollicitudin blandit. Aliquam et malesuada orci. Sed vel mollis ligula, in egestas nisl. Aenean hendrerit lacus feugiat leo euismod bibendum. Nullam faucibus, urna in rutrum aliquet, tellus ante mattis quam, eget malesuada sapien odio non magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque gravida venenatis felis at iaculis. Donec mattis sagittis lacus, at bibendum mi aliquet ac. Pellentesque quis elementum diam, at porttitor mauris.
                </p>
            </div>
        </div>
    </div>
</div>
