@import '../../scss/base/colors';
@import '../../scss/abstracts/mixins';

#header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    box-shadow: 0 0 2px $color-shadow;
    background-color: $bg-dark;

    .top__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $bg-dark;
        padding: 1.2em;

        .nav__wrapper{
            display: flex;
            align-items: center;
            gap: 1.3em;
    
            @include respond(max-width, phone-sm){
                gap: 1em;
            }
        }
    }

    .admin__menu{
        transition: transform .3s ease;

        .admin__menu-toggle{
            display: none;
        }

        @include respond(max-width, phone-sm){
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            transform: translateY(-100%);
            background-color: $bg-dark;
            z-index: -1;

            &.toggle{
                transform: translateY(0);
            }

            .admin__menu-toggle{
                position: absolute;
                bottom: -2em;
                left: 1em;
                border: 1em solid transparent;
                border-top-color: $color-border-admin;
                display: block;
            }
        }

        .admin-btns{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-block: .5em;
            gap: 1em;

            @include respond(max-width, phone-sm){
                flex-direction: column;
                gap: .4em;
            }

            .btn{
                border: 1px solid $color-border-admin;
                padding-block: .5em;


                @include respond(max-width, tab-portrait-sm){
                    font-size: 1em;
                }

                @include respond(max-width, phone-sm){
                    width: 60%;
                }
            }
        }
    }
}