@import "../../../scss/base/colors";
@import "../../../scss/abstracts/mixins";

.section__container {
  max-width: 40em;
  margin-inline: auto;
  text-align: center;
  padding: 2em;

  .inputs {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    input,
    select,
    textarea {
      padding: 0.5em;
      background-color: $color-gray;
      color: $color-white;
      border: none;

      &:focus {
        outline: 1px solid $color-focus;
      }

      &:not(input[type="checkbox"]) {
        width: 100%;
        min-width: 100%;
      }
    }

    input[type="file"] {
      padding: 0;
      width: 100%;
      cursor: pointer;

      &::-webkit-file-upload-button {
        padding: 0.5em;
        background-color: $color-white;
        border: none;
        cursor: pointer;
        margin-right: 1em;
      }
    }
    
    .error {
      color: $color-error;
      text-align: left;
      margin-top: 0.3em;
    }

    .size__container {
      text-align: left;

      .size {
        margin-bottom: 0.5em;
      }

      label {
        margin-left: 0.5em;
      }
    }
  }

  .btn-update {
    width: 100%;
    margin-top: 3em;
    padding-block: 0.6em;
    background-color: $color-green;
    border: 1px solid $color-border;

    &:disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }
}
