<div class="section__container">
    <h1 style="text-transform: uppercase; padding: .5em;">Delivery and Shipping costs</h1>

    <p style="margin-block: 1em;"><span style="font-weight: bold; text-decoration: underline;">Free Shipping</span> to France, Germany and Italy</p>

    <p style="font-weight: bold; font-size: 1em; margin-block: 1em;">*Unfortunately, we only ship to France, Germany and Italy.</p>

    <div class="accordion accordion-1">
        <input type="checkbox" id="shipping_1" checked>
        <label for="shipping_1">SHIPPING DURING SALE PERIODS</label>
    
        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    Please allow up to 5 business days for orders to be dispatched. <br>

                    Our warehouse will be working overtime to ship out an increased volume of orders during sale periods, 
                    so please keep this in mind when placing an order as we are unable to make any changes once your order has been finalized. <br>
                    
                    If you need to update your shipping details, please call customer service on 01234567891 or email 
                    <a href="mailto: clothery@gmail.com" style="display: inline-block;">clothery&#064;gmail.com</a> as soon as possible.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-2">
        <input type="checkbox" id="shipping_2">
        <label for="shipping_2">SHIPPING TO P.O. BOXES</label>
    
        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2em;">
                    Express Post is unavailable for delivery to PO Boxes. <br>
                    Your order will be sent with standard post.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-3">
        <input type="checkbox" id="shipping_3">
        <label for="shipping_3">ORDER PROCESSING TIME</label>
    
        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2em;">
                    We aim to dispatch all orders within 24 hours between Monday - Friday. <br>
                    We dispatch all orders received before 12pm AEST (Monday – Friday) on the same business day. <br> <br>

                    <span style="font-weight: bold;">Please note:</span> During peak periods (Sales, Public Holidays, or the day after a Public Holiday), 
                    please allow up to 5 business days for orders to be dispatched.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-4">
        <input type="checkbox" id="shipping_4">
        <label for="shipping_4">ORDER TRACKING</label>
    
        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2em;">
                    Once your order has been picked up from our warehouse, 
                    you'll receive an email from the courier company with a tracking number & delivery estimate. <br>

                    All orders are shipped with an Authority to Leave – This gives the courier the right to leave your order 
                    somewhere safe on the premises if you are not home at the time of delivery.
                </p>
            </div>
        </div>
    </div>
                
</div>
