<div class="section__container">
    <div class="content__header">
        <h1>Size Guide</h1>
        <p>Please be wary sizes can vary per style dependent on fit, however we will note this in relevant products.</p>
    </div>

    <h1>Womens Body Measurements Size Guide</h1>
    
    <div class="accordion accordion-1">
        <input type="checkbox" id="tops_women" checked>
        <label for="tops_women">Tops</label>
    
        <div class="accordion__content__container">
            <div class="content">
                <p>Body measurements size guide for all Womens Tops, Dresses, Playsuits, Jumpsuits, Jackets & Jumpers.</p>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>XS</th>
                                <th>S</th>
                                <th>M</th>
                                <th>L</th>
                                <th>XL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>UK/AU</th>
                                <td>6</td>
                                <td>8</td>
                                <td>10</td>
                                <td>12</td>
                                <td>14</td>
                            </tr>
                            <tr>
                                <th>US</th>
                                <td>2</td>
                                <td>4</td>
                                <td>6</td>
                                <td>8</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th>EU</th>
                                <td>34</td>
                                <td>36</td>
                                <td>38</td>
                                <td>40</td>
                                <td>42</td>
                            </tr>
                            <tr>
                                <th>Bust (cm)</th>
                                <td>79-83</td>
                                <td>84-88</td>
                                <td>89-93</td>
                                <td>94-98</td>
                                <td>99-103</td>
                            </tr>
                            <tr>
                                <th>Waist - at smallest point (cm)</th>
                                <td>61-65</td>
                                <td>66-70</td>
                                <td>71-75</td>
                                <td>76-80</td>
                                <td>81-85</td>
                            </tr>
                            <tr>
                                <th>Hips - at widest point (cm)</th>
                                <td>89-93</td>
                                <td>94-98</td>
                                <td>99-103</td>
                                <td>104-108</td>
                                <td>109-113</td>
                            </tr>
                        </tbody>
                    </table>
                </div>   
            </div>
        </div>
    </div>

    <div class="accordion accordion-2">
        <input type="checkbox" id="bottoms_women">
        <label for="bottoms_women">Bottoms</label>
    
        <div class="accordion__content__container">
            <div class="content">
                <p>Body measurements size guide for all Womens Bottoms.</p>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>XS</th>
                                <th>S</th>
                                <th>M</th>
                                <th>L</th>
                                <th>XL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Pants</th>
                                <td>24</td>
                                <td>26</td>
                                <td>28</td>
                                <td>30</td>
                                <td>32</td>
                            </tr>
                            <tr>
                                <th>AU/UK</th>
                                <td>6</td>
                                <td>8</td>
                                <td>10</td>
                                <td>12</td>
                                <td>14</td>
                            </tr>
                            <tr>
                                <th>US</th>
                                <td>2</td>
                                <td>4</td>
                                <td>6</td>
                                <td>8</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th>EU</th>
                                <td>34</td>
                                <td>36</td>
                                <td>38</td>
                                <td>40</td>
                                <td>42</td>
                            </tr>
                            <tr>
                                <th>Waist - at smallest point (cm)</th>
                                <td>61-65</td>
                                <td>66-70</td>
                                <td>71-75</td>
                                <td>76-80</td>
                                <td>81-85</td>
                            </tr>
                            <tr>
                                <th>Hips - at widest point (cm)</th>
                                <td>89-93</td>
                                <td>94-98</td>
                                <td>99-103</td>
                                <td>104-108</td>
                                <td>109-113</td>
                            </tr>
                        </tbody>
                    </table>
                </div>   
            </div>
        </div>
    </div>

    <div class="accordion accordion-3">
        <input type="checkbox" id="intimates">
        <label for="intimates">Intimates</label>
    
        <div class="accordion__content__container">
            <div class="content">
                <p>Body measurements size guide for all Women's Intimates.</p>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>XS</th>
                                <th>S</th>
                                <th>M</th>
                                <th>L</th>
                                <th>XL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>AU</th>
                                <td>6</td>
                                <td>8</td>
                                <td>10</td>
                                <td>12</td>
                                <td>14</td>
                            </tr>
                            <tr>
                                <th>US</th>
                                <td>2</td>
                                <td>4</td>
                                <td>6</td>
                                <td>8</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th>EU</th>
                                <td>34</td>
                                <td>36</td>
                                <td>38</td>
                                <td>40</td>
                                <td>42</td>
                            </tr>
                            <tr>
                                <th>Bust (cm)</th>
                                <td>79-83</td>
                                <td>84-88</td>
                                <td>89-93</td>
                                <td>94-98</td>
                                <td>99-103</td>
                            </tr>
                            <tr>
                                <th>Underbust (cm)</th>
                                <td>68-72</td>
                                <td>73-77</td>
                                <td>78-82</td>
                                <td>83-87</td>
                                <td>88-92</td>
                            </tr>
                            <tr>
                                <th>Waist - at smallest point (cm)</th>
                                <td>61-65</td>
                                <td>66-70</td>
                                <td>71-75</td>
                                <td>76-80</td>
                                <td>81-85</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <h1>Mens Body Measurements Size Guide</h1>

    <div class="accordion accordion-4">
        <input type="checkbox" id="tops_men">
        <label for="tops_men">Tops</label>
    
        <div class="accordion__content__container">
            <div class="content">
                <p>Body measurements size guide for all Mens Tops, Jackets & Jumpers.</p>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>XS</th>
                                <th>S</th>
                                <th>M</th>
                                <th>L</th>
                                <th>XL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>UK/AU</th>
                                <td>XS</td>
                                <td>S</td>
                                <td>M</td>
                                <td>L</td>
                                <td>XL</td>
                            </tr>
                            <tr>
                                <th>US</th>
                                <td>34</td>
                                <td>36</td>
                                <td>38</td>
                                <td>40</td>
                                <td>42</td>
                            </tr>
                            <tr>
                                <th>EU</th>
                                <td>44</td>
                                <td>46</td>
                                <td>48</td>
                                <td>50</td>
                                <td>52</td>
                            </tr>
                            <tr>
                                <th>Chest (cm)</th>
                                <td>88-92</td>
                                <td>93-97</td>
                                <td>98-102</td>
                                <td>103-107</td>
                                <td>108-112</td>
                            </tr>
                            <tr>
                                <th>Waist - at smallest point (cm)</th>
                                <td>66-70</td>
                                <td>71-75</td>
                                <td>76-80</td>
                                <td>81-85</td>
                                <td>86-90</td>
                            </tr>
                            <tr>
                                <th>Hips - at widest point (cm)</th>
                                <td>87-91</td>
                                <td>92-96</td>
                                <td>97-101</td>
                                <td>102-106</td>
                                <td>107-111</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion accordion-5">
        <input type="checkbox" id="bottoms_men">
        <label for="bottoms_men">Bottoms</label>
    
        <div class="accordion__content__container">
            <div class="content">
                <p>Body measurements size guide for all Mens Bottoms unless specified.</p>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>XS</th>
                                <th>S</th>
                                <th>M</th>
                                <th>L</th>
                                <th>XL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>AU/UK</th>
                                <td>28</td>
                                <td>30</td>
                                <td>32</td>
                                <td>34</td>
                                <td>36</td>
                            </tr>
                            <tr>
                                <th>US</th>
                                <td>28</td>
                                <td>30</td>
                                <td>32</td>
                                <td>34</td>
                                <td>36</td>
                            </tr>
                            <tr>
                                <th>EU</th>
                                <td>38</td>
                                <td>40</td>
                                <td>42</td>
                                <td>44</td>
                                <td>46</td>
                            </tr>
                            <tr>
                                <th>Waist - at smallest point (cm)</th>
                                <td>66-70</td>
                                <td>71-75</td>
                                <td>76-80</td>
                                <td>81-85</td>
                                <td>86-90</td>
                            </tr>
                            <tr>
                                <th>Hips - at widest point (cm)</th>
                                <td>87-91</td>
                                <td>92-96</td>
                                <td>97-101</td>
                                <td>102-106</td>
                                <td>107-111</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <h1>Unisex Size Guide</h1>

    <div class="accordion accordion-6">
        <input type="checkbox" id="tops_unisex">
        <label for="tops_unisex">Unisex Tops</label>
    
        <div class="accordion__content__container">
            <div class="content">
                <p>Our unisex styles sport our iconic retro fit so you can expect an oversized slouchy style.</p>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Unisex Tops</th>
                                <th>XS</th>
                                <th>S</th>
                                <th>M</th>
                                <th>L</th>
                                <th>XL</th>
                                <td>XXL</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>UK/AU - Mens</th>
                                <td>XS</td>
                                <td>S</td>
                                <td>M</td>
                                <td>L</td>
                                <td>XL</td>
                                <td>XXL</td>
                            </tr>
                            <tr>
                                <th>UK/AU - Womens</th>
                                <td>6</td>
                                <td>8</td>
                                <td>10</td>
                                <td>12</td>
                                <td>14</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <th>US - Mens</th>
                                <td>34</td>
                                <td>36</td>
                                <td>38</td>
                                <td>40</td>
                                <td>42</td>
                                <td>44</td>
                            </tr>
                            <tr>
                                <th>US - Womens</th>
                                <td>2</td>
                                <td>4</td>
                                <td>6</td>
                                <td>8</td>
                                <td>10</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <th>EU - Mens</th>
                                <td>44</td>
                                <td>46</td>
                                <td>48</td>
                                <td>50</td>
                                <td>52</td>
                                <td>54</td>
                            </tr>
                            <tr>
                                <th>EU - Womens</th>
                                <td>43</td>
                                <td>36</td>
                                <td>38</td>
                                <td>40</td>
                                <td>42</td>
                                <td>44</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion accordion-7">
        <input type="checkbox" id="bottoms_unisex">
        <label for="bottoms_unisex">Unisex Bottoms</label>
    
        <div class="accordion__content__container">
            <div class="content">
                <p>Body measurements size guide for all Mens Bottoms unless specified.</p>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Unisex Bottoms</th>
                                <th>XS</th>
                                <th>S</th>
                                <th>M</th>
                                <th>L</th>
                                <th>XL</th>
                                <th>XXL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>AU/UK - Mens</th>
                                <td>28</td>
                                <td>30</td>
                                <td>32</td>
                                <td>34</td>
                                <td>36</td>
                                <td>38</td>
                            </tr>
                            <tr>
                                <th>AU/UK - Womens</th>
                                <td>6</td>
                                <td>8</td>
                                <td>10</td>
                                <td>12</td>
                                <td>14</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <th>US - Men</th>
                                <td>28</td>
                                <td>30</td>
                                <td>32</td>
                                <td>34</td>
                                <td>36</td>
                                <td>38</td>
                            </tr>
                            <tr>
                                <th>US - Womens</th>
                                <td>2</td>
                                <td>4</td>
                                <td>6</td>
                                <td>8</td>
                                <td>10</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <th>EU - Mens</th>
                                <td>36</td>
                                <td>38</td>
                                <td>40</td>
                                <td>42</td>
                                <td>44</td>
                                <td>46</td>
                            </tr>
                            <tr>
                                <th>EU - Womens</th>
                                <td>34</td>
                                <td>36</td>
                                <td>38</td>
                                <td>40</td>
                                <td>42</td>
                                <td>44</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>