<div class="section__container">
    <h1 style="text-transform: uppercase; padding: 1em;">Returns & Refunds</h1>

    <div style="padding: 1em;">
        <p style="margin-block: 1em; line-height: 2em; font-size: .9em;">
            Order didn't work out? No sweat, we want you to be 100% happy with your purchase! We gladly accept returns for items in original 
            unworn condition with tags attached.
    
            Returns must be lodged within 30 days from the date you received your goods, and we will provide you with a store credit or refund.
    
            We've also partnered with Refundid to offer you instant refunds for your returns! Make sure to select the instant refund option when lodging your return.
    
            If you have any questions about our policy please send us an email at <a href="mailto: clothery@gmail.com" style="display: inline-block;">clothery&#064;gmail.com</a>, 
            and we'll help you out!
        </p>
    
        <p style="font-size: .9em;">All products must be returned unworn and unwashed.</p>
    
        <ul style="font-size: .9em; margin-block: 1em 3em;">
            <li>All tags attached with original packaging</li>
            <li>Free from makeup, animal hair, and any scent (including deodorant, perfume, or washing powder)</li>
            <li>Swimwear must have hygiene seal intact</li>
            <li>Sanitary strips remain on swimwear and intimate products</li>
        </ul>
    </div>


    <div class="accordion accordion-1">
        <input type="checkbox" id="shipping_1" checked>
        <label for="shipping_1">RETURN CONDITIONS</label>
    
        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">All products must be returned unworn and unwashed.</p>

                <br> <br>

                <ul>
                    <li>All tags attached with original packaging</li>
                    <li>Free from makeup, animal hair, and any scent (including deodorant, perfume, or washing powder)</li>
                    <li>Swimwear must have hygiene seal intact</li>
                </ul>

                <p style="line-height: 2.5em;">We do not accept returns on the following items:</p>

                <ul>
                    <li>Intimates & underwear</li>
                </ul>
                
                <p style="line-height: 2.5em;">
                    If your items do not meet these conditions, your return request will be denied. <br> <br>

                    <span style="font-weight: bold;">Please note:</span> If your return request is denied and you don't respond to the email you received 
                    from our customer service team within 3 weeks, your item(s) will not be returned to you.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-2">
        <input type="checkbox" id="shipping_2">
        <label for="shipping_2">FREE RETURN SHIPPING</label>
    
        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    You now have the option to return your full-price items back to us for FREE if you select our online store credit option via our returns portal. 
                    Simply lodge your return using our online portal link here, enter your email address used to place your order, 
                    select the eligible item(s) you wish to return, and select the store credit option. You will be emailed a pre-paid returns label to attach to your parcel, 
                    which you can lodge at your nearest post office free of charge. Your store credit will be processed within 4 business 
                    days after it arrives back to our warehouse. Credit notes are valid for 3 years and will be issued as an online gift card. 
                    You will be emailed a unique code to enter upon checkout. 
                </p>

                <br> <br>

                <p style="line-height: 2.5em;">Free return shipping is currently only available to the following regions:</p>

                <ul>
                    <li>France</li>
                    <li>Germany</li>
                    <li>Italy</li>
                </ul>

                <p style="line-height: 2.5em;">
                    <span style="font-weight: bold;">Please note:</span> Customers shopping from outside of these regions are required to pay for their return shipping costs.
                    <br> <br>
                    Still not sure? Send us an email at <a href="mailto: clothery@gamil.com" style="display: inline-block;">clothery&#064;gmail.com</a>, and we'll help you out.
                </p>
            </div>
        </div>
    </div>
    
    <div class="accordion accordion-3">
        <input type="checkbox" id="shipping_3">
        <label for="shipping_3">FAULTY OR INCORRECT ITEMS</label>

        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    If you think you have received a faulty or incorrect item, please head to our returns centre here and enter in the email address used to place your order. 
                    Your eligible item(s) will be available for free return, just select the item(s) you need to return and lodge return under the reason 'faulty'. 
                    Upload clear digital images of issues found for the team to assess. The return status will update to 'return pending approval', 
                    and we will contact you within 24 hours to work on a resolution. <br> <br>

                    We are happy to replace goods in the case of a manufacturing fault. Afends does not accept returns on items damaged by general wear and tear. 
                    Afends reserves the right to determine a genuine fault in the clothing. If an item is deemed to have manufacturer damage/fault, 
                    you will not incur any additional costs and will be offered a replacement item or a refund/store credit. <br> <br>      

                    Still not sure? Send us an email at <a href="mailto: clothery@gmail.com" style="display: inline-block;">clothery&#064;gmail.com</a>, and we'll help you out.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-4">
        <input type="checkbox" id="shipping_4">
        <label for="shipping_4">REFUNDS</label>

        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    Refunds are eligible for full-priced items within 30 days of receiving your goods. We will deduct $20.00 USD for the cost of the pre-paid return shipping 
                    label from your refund. <span style="font-weight: bold;">Please note:</span> Refunds are not eligible for sale items, only store credits.

                    <br> <br>

                    To receive a refund, you need to lodge your return here and enter the email address used to place your order. 
                    Your eligible item(s) will be available to return, just select the item(s) you wish to return, select your reason for return, 
                    and choose the option ‘refund'. You will then be issued with a pre-paid postage label to attach to your parcel to lodge at your nearest post box.

                    <br> <br>

                    Depending on your payment method, the funds may take 2-3 business days to clear back into your account. 
                    All refunds will be processed back to the original payment method used to place the order. 

                    <br> <br>

                    Still not sure? Send us an email at <a href="mailto: clothery@gmail.com" style="display: inline-block;">clothery&#064;gmail.com</a>, and we'll help you out.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-5">
        <input type="checkbox" id="shipping_5">
        <label for="shipping_5">SALE ITEM RETURNS</label>

        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    Sale items can only be returned for a store credit with $10.00 USD deducted to cover shipping; 
                    refunds are not available. This includes items from the marked down sale section and items purchased during sale promotions. 
                    All sale item returns must be lodged within 30 days by emailing <a href="mailto: clothery@gmail.com" style="display: inline-block;">clothery&#064;gmail.com</a>.

                    <br> <br>

                    If you would like to return full-priced and sale items together, please contact customer service so they can lodge your return for you. 
                    Unfortunately, if you choose to return your sale item, we are unable to offer the same discounted price if you were wanting to re-purchase 
                    the same item in a different size.
                </p>
            </div>
        </div>
    </div>

    <div class="accordion accordion-6">
        <input type="checkbox" id="shipping_6">
        <label for="shipping_6">WHEN WILL MY RETURN BY PROCESSED?</label>

        <div class="accordion__content__container">
            <div class="content">
                <p style="line-height: 2.5em;">
                    We aim to process returns within 7 business days from the time of receiving your items, unless an instant refund has been selected. <br>

                    Please allow 7 business days for your return to be processed during sale periods. We will notify you via email once your return has been processed. <br>

                    Please note: It can take up to 21 days for returns to arrive at our warehouse, depending on the postage times and the return location. <br>

                    Still not sure? Send us an email at <a href="mailto: clothery@gmail.com" style="display: inline-block;">clothery&#064;gmail.com</a>, and we'll help you out.
                </p>
            </div>
        </div>
    </div>

</div>
